@use '@/styles/variables.scss' as *;

.petDetailPage {
  min-height: 100vh;
  background: $color-bg-page;
  @include flex-center;
  flex-direction: column;
}

.placeholderIcon {
  font-size: 80rpx;
  margin-bottom: $spacing-md;
}

.placeholderTitle {
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
  color: $color-text-primary;
  margin-bottom: $spacing-sm;
}

.placeholderText {
  font-size: $font-size-md;
  color: $color-text-tertiary;
}